---
import Layout from "../layouts/Layout.astro";

title: "About";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>About Me</h1>

    <p>
      I am a full-stack typescript engineer based in metro Atlanta. I began my
      web development journey in 2011 managing the website for my mother's
      string quartet, <a href="https://candlelightstringquartet.com"
        >Candlelight String Quartet</a
      >.
    </p><p>
      I attended Kennesaw State University, graduating in 2019 with a Bachelor
      of Science in Applied Mathematics, though I had only one semester
      remaining to also earn a Bachelor of Science in Computer Science. In 2018,
      I began working two internships at the same time. One of them had me
      working as a consultant for a chiropractic instructor to maintain a
      wordpress website and create a react-native iphone app to connect to the
      wordpress API. The other internship was with a company called <a
        href="https://kollacode.com">Kollacode</a
      >, a small startup in the event marketing space that works with large
      event management platforms like Cvent, IBM, and Rainfocus to develop
      dashboards, ETL pipelines, and other custom software solutions. I was
      hired full-time by Kollacode in 2019 and was promoted to lead developer in
      2023.
    </p><p>
      Besides working, I enjoy reading, playing games (digital and board games),
      and spending time with my wife and two kids.
    </p>
  </main></Layout
>
