---
import Layout from "../layouts/Layout.astro";

title: "Blog";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>This is my blog.</h1>

    <p>
      I post things about programming, books, games, and other things that I
      enjoy.
    </p>
    <p>I recentle added a <a href="/posts/post-1">new post</a></p>
  </main></Layout
>
