---
import Layout from "../layouts/Layout.astro";

const postColor = "#C2C314";
---

<Layout title="Welcome to Astro.">
  <h1>This is my blog.</h1>

  <p>
    I post things about programming, books, games, and other things that I
    enjoy.
  </p>
</Layout>
<style define:vars={{ postColor }}>
  .post {
    color: var(--postColor);
  }
</style>
