---
import Layout from "../layouts/Layout.astro";
import CldImage from "../components/Cld-Image.astro";
---

<Layout title="Welcome to Astro.">
  <CldImage
    height={370}
    width={350}
    src="https://res.cloudinary.com/dn43hkkdc/image/upload/v1722027499/profile-test-1-no-bg.png"
    alt="profile picture"
  />
  <p>
    Hello! My name is Eshin Griffith, and this website is where I post the
    things I'm up to and thinking about.
  </p>
</Layout>
