---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshotPic from "../assets/color-headshot.jpg";
---

<Layout title="Welcome to Astro.">
  <Image width={450} src={headshotPic} alt="profile picture" />
  <p>
    Hello! My name is Eshin Griffith, and this website is where I post the
    things I'm up to and thinking about.
  </p>
</Layout>
