---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <p>
    Hello! My name is Eshin Griffith, and this website is where I post the
    things I'm up to and thinking about.
  </p>
</Layout>
