---
// Sourced from https://github.com/cloudinary-community/cloudinary-examples/blob/main/examples/astro-image/src/components/CldImage.astro
import { Image } from "astro:assets";
import { Cloudinary } from "@cloudinary/url-gen";

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
    apiKey: import.meta.env.CLOUDINARY_API_KEY,
    apiSecret: import.meta.env.CLOUDINARY_API_SECRET,
  },
  url: {
    secure: true,
  },
});

interface Props {
  /** public id or URL */
  src: string;
  alt: string;
  height: number;
  width: number;
}

const { alt, height, width } = Astro.props;
let { src } = Astro.props;
if (!src.startsWith("https://res.cloudinary.com")) {
  const myImage = cld.image(src);

  // auto format and quality
  myImage.format("auto").quality("auto");

  src = myImage.toURL();
}
---

<div>
  <Image {...{ src, alt, width, height }} />
</div>

<style>
  img {
    object-fit: cover;
    width: 100%;
  }
</style>
