---
import { Icon } from "astro-icon/components";

interface SocialLink {
  name: string;
  url: string;
  icon: string;
}
const socials: SocialLink[] = [
  {
    name: "GitHub",
    url: "https://github.com/egriff38",
    icon: "grommet-icons:github",
  },
];
---

<footer>
  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
  {
    socials.map(({ name, url, icon }) => (
      <a title={name} href={url}>
        <Icon name={icon} />
      </a>
    ))
  }
</footer>
<style>
  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
  footer {
    flex-basis: auto;
    color: white;
  }
</style>
